.hero{
    padding: 1rem 0;
}


.pimg1 {
    position: relative;
    background-image: url('../assets/hero.png');
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: fixed;
    /*Parallax*/
    background-attachment: fixed;
}

/* centralize text */

.titleContainer {
    text-align: center;
    position: absolute;
    top: 33%;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    initial-letter: 0.2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* ====titleContainer==== */

.top{
    color:#e8f3f5;
}


.heroBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid white;
    padding:0.5rem 1rem;
    border-radius: 5rem;
    transition: 0.5s;

}
.btnWhat{
    margin-right: 0.2rem;
}
.heroBtn:hover{
    transform: scale(1.1);
    background-color: #223a66;
    transition: 0.5s;
}


.title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.wrapperHero{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #f3feff;
    padding: 1rem 0;
}

.containerhero img{
    width: 4rem;
}

.containerhero{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

@media(max-width:768px) {

    /*desatiba parallax*/
    .pimg1 {
        background-attachment: scroll;
        min-height: 40vh;
    }
}

/* ================================================Others */

.section-light {
    background-color: white;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

section {
    padding: 2rem 4rem;
}

@media(max-width:580px) {

    .wrapperHero{
        padding: 0 1rem;
        grid-template-columns: repeat(2,1fr);
    }

    .titleContainer {
        font-size: 2rem;
    }
    
}

@media(max-width:580px) {

    .wrapperHero{
        padding: 0 1rem;
        grid-template-columns: repeat(2,1fr);
    }

    .titleContainer {
        font-size: 2rem;
    }
    
}

@media(max-width:360px) {

.titleContainer {

    top: 23%;


}
    
}

